/*-------FONTS------*/

/* @font-face {
  font-family: 'dotty';
  src: url('/public/fonts/dotty.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'dotty';
  src: url('fonts/dotty.woff') format('woff'),
    url('fonts/dotty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'dotty';
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
}

h3 {
  font-size: 50px;
  letter-spacing: 4px;
  color: #7e9020;
}

h4 {
  font-size: 50px;
  letter-spacing: 4px;
  color: #7e9020;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.larger-item {
  /* This will be twice as */
  /* big as the small item. */
  flex: 2 0 0;
}
.smaller-item {
  flex: 1 0 0;
}

/*--------IMAGES----------*/

.img-fluid {
  max-width: 100%;
  height: auto;
}

/*--------GAME PAGE----------*/

#whack-a-mole {
  position: absolute;
  background-color: transparent;
  padding: 20px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('leaf-only.png');
  background-size: contain;
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

.mole {
  background-image: url('bug-with-leaf-2.png');
}

.flower {
  background-image: url('flower-with-leaf-2.png');
}

.bee {
  background-image: url('bee-with-leaf.png');
}

.face-space {
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

/*--------ENTRANCE PAGE--------*/
.outer-div {
  align-items: center;
  align-self: center;
  display: flex;
}

.entrance-container .media {
  display: flex;
  margin: 0 auto;
  padding-top: 140px;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.entrance-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url('images/game-screen-flowers.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.entrance-logo img {
  width: 1000px;
  max-width: 100%;
  max-height: 450px;
  align-self: center;
}

.user-welcome {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

/*----------NAVBAR----------*/
.menu-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 50%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance-menu {
  width: 600px;
  text-align: center;
  flex-wrap: wrap;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.entrance-menu a {
  font-family: 'dotty';
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 4px;
  color: #7e9020;
  margin: 20px;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.play-btn img {
  width: 400px;
  height: auto;
}

/*-------POPUP-------*/

/* makes website background dark */

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: scale(1.1);
}

.modal {
  display: block;
}

.modal a {
  color: #fff;
  font-size: 50px;
}

.modal h4 {
  color: #fff;
  margin: 40px;
  font-size: 58px;
  border-bottom: 1.3px solid #fff;
}

.modal .grow {
  transition: all 0.2s ease-in-out;
}

.modal .grow:hover {
  transform: scale(1.1);
}

.modal-exit-btn {
  float: right;
  width: 26px;
  height: 26px;
  background: transparent
    url(http://tympanus.net/Tutorials/CSSOverlay/images/cancel.png) repeat top
    left;
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
}

/*---------PUNCHABUG GAME----------*/
.game-logo img {
  width: 700px;
  max-width: 100%;
  max-height: 450px;
  display: flex;
  align-self: center;
}

@keyframes moveright {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
}

#grandparent {
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: url('images/game-screen-flowers.png');
  background-size: cover;
  overflow-x: hidden;
}

#play-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#timer {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.3);
}

#score-timer {
  display: flex;
  justify-content: space-between;
}

/*-------END OF GAME-------*/
.end-of-game-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex-wrap;
  background: url('images/game-screen-flowers.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.end-of-game-container .img-fluid {
  display: flex;
  margin: 0 auto;
  max-height: 150px;
  padding-top: 150px;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.end-game-score {
  /* position: relative;
  animation: moveright 1s;
  animation-fill-mode: forwards; */
  font-size: 80px;
  letter-spacing: 4px;
  color: #7e9020;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-menu a {
  display: inline-block;
  width: 33%;
  text-align: center;
}

/* #leaderboard {
  background: url('images/leaderboard.png');
  background-size: cover;
} */

/*---------instruction--------*/
.how-to {
  font-size: 70px;
  font-weight: normal;
  text-align: center;
  line-height: 150%;
  padding-bottom: 10px;
  margin-top: 150px;
  margin-bottom: 30px;
  z-index: 2;
  position: relative;
  font-family: 'dotty';
  color: #5a7f26;
}

.instruction-container {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  font-family: 'dotty';
}

.instruction {
  width: 600px;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  margin: 15px;
  font-family: 'dotty';
}

.instruction h2 {
  color: #5a7f26;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'dotty';
  font-size: 30px;
}

.instruction p {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'dotty';
  font-size: 20px;
  color: #5a7e26;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-button {
  display: flex;
  align-self: flex-end;
  align-items: center;
  width: 100px;
}

/*-------AUTH FORM/LOGIN FORM-------*/

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url('images/game-screen-flowers.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  align-items: center;
  justify-content: center;
}
