body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#whack-a-mole {
  position: absolute;
  background-color: transparent;
  padding: 20px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('leaf-only.png');
  background-size: contain;
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

.mole {
  background-image: url('bug-with-leaf.png');
}

.face-space {
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

.end-game-score {
  position: relative;
  animation: moveright 1s;
  animation-fill-mode: forwards;
}

/*--------ENTRANCE PAGE--------*/
.entrance-container {
  width: 100%;
  height: 100vh;
  background: url('images/start-screen.png');
  background-size: cover;
}

@keyframes moveright {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
}

#grandparent {
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

#play-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#timer {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.3);
}

#score-timer {
  display: flex;
}
