body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#whack-a-mole {
  background-color: transparent;
  /* border: solid 20px #000; */
  padding: 20px;
  width: 360px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('hole.png');
  background-size: contain;
  width: 110px;
  height: 123px;
  margin: 5px;
}
