/*-------FONTS------*/
@font-face {
  font-family: 'dotty';
  src: url('dotty.woff2') format('woff2'), url('dotty.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}
/*--------GAME PAGE----------*/

#whack-a-mole {
  position: absolute;
  background-color: transparent;
  padding: 20px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  background-image: url('leaf-only.png');
  background-size: contain;
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

.mole {
  background-image: url('bug-with-leaf.png');
}

.face-space {
  width: 110px;
  height: 100px;
  margin: 30px 40px 5px 40px;
}

.end-game-score {
  position: relative;
  animation: moveright 1s;
  animation-fill-mode: forwards;
}

/*--------ENTRANCE PAGE--------*/
.outer-div {
  align-items: center;
  align-self: center;
  display: flex;
}

.entrance-container .media {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.entrance-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: url('images/game-screen.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.entrance-logo img {
  width: 1000px;
  max-width: 100%;
  max-height: 450px;
  align-self: center;
}

/*----------NAVBAR----------*/
.menu-container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.entrance-menu {
  width: 600px;
  text-align: center;
  flex-wrap: wrap;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.entrance-menu a {
  font-family: 'dotty';
  text-transform: uppercase;
  font-size: 70px;
  letter-spacing: 8px;
  color: #7e9020;
  margin: 20px;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.2);
}

/*---------PUNCHABUG GAME----------*/
.game-logo img {
  width: 700px;
  max-width: 100%;
  max-height: 450px;
  display: flex;
  align-self: center;
}

@keyframes moveright {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#video {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  display: none;
}

#grandparent {
  height: 100vh;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  background: url('images/game-screen.png');
  background-size: cover;
}

#play-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}

#timer {
  /* position: absolute; */
  background-color: rgba(255, 255, 255, 0.3);
}

#score-timer {
  display: flex;
  justify-content: space-between;
}

/*-------END OF GAME-------*/
#end-of-game-container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: url('images/game-screen.png');
  background-size: cover;
}

/* #leaderboard {
  background: url('images/leaderboard.png');
  background-size: cover;
} */
